<ion-view view-title="{{currentLocation}}">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-buttons side="left">
            <div class="bar bar-header">
                <button class="button button-clear" ng-click="prev()">
                    <span class="ion-android-arrow-back"></span>
                </button>
                
                <div class="button button-clear">
                    <button class="button button-clear" ng-click="toggleSearchPane()">
                        <span class="icon-search" ></span>
                    </button>
                    <button class="button button-clear" ng-click="openPopover($event)">
                        <span class="icon-menu rotate"></span>
                    </button>
                </div>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-positive bar-subheader" ng-show="custom">
        <div class="row">
            <div class="col noPadding abcd">
                <div class="list">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" name="" placeholder="Search desired places" md-autofocus="false"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="has-header has-footer-tab mainBg">
        <div class="mainContent">
            <here-app-map></here-app-map>
            <div class="card" ng-show="placeDetailsData">
                <div class="item item-text-wrap">
                    <h3>{{placeDetailsData.name}}</h3>
                    <h4>{{placeDetailsData.formatted_address}}</h4>
                    <h4>phone: {{placeDetailsData.formatted_phone_number}} / {{placeDetailsData.international_phone_number}}</h4>
                    <h4><a ng-href="{{placeDetailsData.website}}">{{placeDetailsData.website}}</a></h4>
                    <img ng-src="{{placePhoto}}"/>
                    <h2>Reviews</h2>
                    <div class="reviews card" ng-repeat="review in placeDetailsData.reviews">
                        <div class="item item-text-wrap">
                            <h3>{{review.author_name}}</h3>
                            <p>{{review.text}}</p>
                            <h4>Rating: {{review.rating}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
