<ion-view view-title="{{placeDetailsData.name}}">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-buttons side="left">
            <div class="bar bar-header">
                <button class="button button-clear" ng-click="prev()">
                    <span class="ion-android-arrow-back"></span>
                </button>
                <div class="button button-clear">
                    <button class="button button-clear" ng-click="toggleAutocompletePane()">
                        <span class="ion-location locationIcon headerIcons"></span>
                    </button>
                    <button class="button button-clear" ng-click="openPopover($event)">
                        <span class="icon-menu rotate headerIcons"></span>
                    </button>
                </div>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-positive bar-subheader bar-subheader-lg" ng-show="customAutocomplete">
        <div class="row">
            <div class="col noPadding">
                <div class="list">
                    <div class="row">
                        <div class="col noPadding">
                            <label class="item item-input">
                                <i class="icon ion-location placeholder-icon"></i>
                                <md-autocomplete md-selected-item="currentLocation" md-search-text="searchText" md-items="item in getPlaceAutoCompleteData(searchText)" md-item-text="item.description" md-selected-item-change="selectedItemChange(item)" md-min-length="2" md-no-cache="true" placeholder="Choose A Different Location" md-autofocus="true">
                                    <md-item-template>
                                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.description}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="has-header has-footer-tab mainBg">
        <div class="mainContent noMargin">
            <here-app-map show-direction="true" direction-destination="placeDetailsData.geometry.location"></here-app-map>
            <div class="card" ng-show="placeDetailsData">
                <div class="item item-text-wrap searchresults">
                    <h2 class="placesName">{{placeDetailsData.name}}</h2>
                    <h4 class="address" ng-show="placeDetailsData.formatted_address">
                        <i class="ion-location"></i>
                        <span>{{placeDetailsData.formatted_address}}</span>
                    </h4>
                    <h4 class="address" ng-show="placeDetailsData.formatted_phone_number || placeDetailsData.international_phone_number">
                        <i class="ion-android-call"></i>
                        <span>{{placeDetailsData.formatted_phone_number}} / {{placeDetailsData.international_phone_number}}</span>
                    </h4>
                    <h4>
                        <a ng-href="{{placeDetailsData.website}}" target="_blank" ng-show="placeDetailsData.website">
                            <i class="ion-ios-world-outline"></i>{{placeDetailsData.website}}</a>
                    </h4>
                    <div class="slider-content" ng-if="placePhotosArray.length">
                        <ion-slides  options="slideOptions" slider="data.slider">
                            <ion-slide-page ng-repeat="photo in placePhotosArray">
                              <img ng-src={{photo}} />
                            </ion-slide-page>
                        </ion-slides>
                    </div>
                    <div class="reviews" ng-repeat="review in placeDetailsData.reviews" ng-show="placeDetailsData.reviews.length">
                        <div class="reviewsPerUser" ng-show="review.text">
                            <p class="pull-quote">{{review.text}}
                                <small class="author">
                                    -- {{review.author_name}}
                                </small>
                                <span star-rating rating="review.rating" read-only="false" max-rating="5" class="starRating">
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
