<ion-view view-title="Search Result">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-buttons side="left">
            <div class="bar bar-header">
                <button class="button button-clear" ng-click="prev()">
                    <span class="ion-android-arrow-back"></span>
                </button>
                <div class="button button-clear">
                    <button class="button button-clear" ng-click="openPopover($event)">
                        <span class="icon-menu rotate"></span>
                    </button>
                </div>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header has-footer-tab mainBg">
        <div class="mainContent">
            <here-app-map map-data="searchResultData" show-pins="true"></here-app-map>
            <div ng-repeat="result in searchResultData">
                <div class="card">
                    <div class="item item-text-wrap searchresults">
                        <img src="img/icons/direction.svg" alt="get direction" class="direction">
                        <h2 class="placesName">{{result.name}}</h2>
                        <h4 class="address"><i class="ion-location" ng-show="result.vicinity"></i>{{result.vicinity}}</h4>
                        <h5 class="rating" ng-show="result.rating">{{result.rating}}</h5>
                        <h5 class="distance">Distance: {{result.distance.distance.text}}</h5>


                        <h5 class="rating">{{result.rating}}</h5>

                    </div>
                </div>
            </div>
            <div class="button button-positive button-block" ng-click="getNearByData(searchedType)" ng-if="hasMoreData">
                Load More
            </div>
        </div>
    </ion-content>
</ion-view>
