<ion-view view-title="Home">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-buttons side="left">
            <div class="bar bar-header">
                <button class="button button-clear" menu-toggle="left">
                    <span class="icon ion-navicon"></span>
                </button>
                <div class="button button-clear">
                    <button class="button button-clear" ng-click="openPopover($event)">
                        <span class="ion-ios-bell">
                            <span class="badge badge-assertive">3</span>
                        </span>
                    </button>
                    <a class="button button-clear" ng-click="goToSearch()">
                        <span class="icon-search"></span>
                    </a>
                    <button class="button button-clear" ng-click="openPopover($event)">
                        <span class="icon-menu rotate"></span>
                    </button>
                </div>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-positive bar-subheader">
        <div class="row">
            <div class="col noPadding">
                <div class="list">
                    <label class="item item-input">
                        <i class="icon ion-location placeholder-icon"></i>
                        <md-autocomplete md-selected-item="commonService.userData.location" md-search-text="searchText" md-items="item in placeAutoCompleteList" md-item-text="item.description" md-search-text-change="getPlaceAutoCompleteData(searchText)" md-selected-item-change="selectedItemChange(item)" md-min-length="1" placeholder="Location">
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.description}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="has-header has-subheader has-footer-tab mainBg">
        <div class="mainContent ">
            <h4 class="meal text-center">Here are some ways to think about you next meal</h4>
            <div class="row">
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/delivery.svg" alt="">
                            <h4>Delivery</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/egg.svg" alt="">
                            <h4>Breakfast</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/lunch.svg" alt="">
                            <h4>Lunch</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/dinner.svg" alt="">
                            <h4>Dinner</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/coffee.svg" alt="">
                            <h4>Cafe</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/drink.svg" alt="">
                            <h4>Night Life</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/beer.svg" alt="">
                            <h4>Bar</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/hours.svg" alt="">
                            <h4>Happy Hours</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/sweet.svg" alt="">
                            <h4>Sweets</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/chicken.svg" alt="">
                            <h4>Indian Cuisine</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/chinese.svg" alt="">
                            <h4>Chinese</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/burger.svg" alt="">
                            <h4>Fast Food</h4>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="meal text-center">Here are some Nearby Essentials which will help you in many ways</h4>
            <div class="row">
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/atm.svg" alt="">
                            <h4>ATM</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/blood.svg" alt="">
                            <h4>Blood Bank</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/bank.svg" alt="">
                            <h4>Bank</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/hospital.svg" alt="">
                            <h4>Hospital</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/police.svg" alt="">
                            <h4>Police Station</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/medicine.svg" alt="">
                            <h4>Pharmacy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/book.svg" alt="">
                            <h4>Library</h4>
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap">
                            <img src="img/icons/car-repair.svg" alt="">
                            <h4>Car Repair</h4>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="meal text-center">Are You looking for Some Nearby Entertainment & Fun</h4>
            <ion-slide-box on-slide-changed="slideChanged(index)" auto-play="true" show-pager="false" does-continue="true">
                <ion-slide>
                    <div class="row">
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/theater.svg" alt="">
                                    <h4>Movie/Theater</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/stadium.svg" alt="">
                                    <h4>Stadium</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/horse.svg" alt="">
                                    <h4>Race Course</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/theme-park.svg" alt="">
                                    <h4>Fun Park</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="row">
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/art.svg" alt="">
                                    <h4>Art Gallery</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/museum.svg" alt="">
                                    <h4>Museum</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/disco.svg" alt="">
                                    <h4>Night Club</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/casino.svg" alt="">
                                    <h4>Casino</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="row">
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/bowling.svg" alt="">
                                    <h4>Bowling Alley</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/zoo.svg" alt="">
                                    <h4>Zoo</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/community.svg" alt="">
                                    <h4>City Hall</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/park.svg" alt="">
                                    <h4>Park</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <h4 class="meal text-center">Other Miscleneous Places for daily life</h4>
            <ion-slide-box on-slide-changed="slideChanged(index)" auto-play="true" show-pager="false" does-continue="true">
                <ion-slide>
                    <div class="row">
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/shopping-bag.svg" alt="">
                                    <h4>Shopping Mall</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/gym.svg" alt="">
                                    <h4>Gym</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/spa.svg" alt="">
                                    <h4>Spa/Saloon</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/cloth.svg" alt="">
                                    <h4>Cloth Store</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="row">
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/shoe.svg" alt="">
                                    <h4>Shoe Store</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/departmental-store.svg" alt="">
                                    <h4>Departmental Store</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/convenience-store.svg" alt="">
                                    <h4>Convenience Store</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/jewelry-store.svg" alt="">
                                    <h4>Jewelry Store</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="row">
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/book-store.svg" alt="">
                                    <h4>Book Store</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/furniture-store.svg" alt="">
                                    <h4>Furniture Store</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/liqor-store.svg" alt="">
                                    <h4>Liquor Store</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="card homeCustomecard">
                                <div class="item item-text-wrap">
                                    <img src="img/icons/hardware-store.svg" alt="">
                                    <h4>Hardware Store</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
        </div>
        </ion-slide-box>
</ion-view>
