
<ion-view view-title="Home">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-buttons side="left">
            <div class="bar bar-header">
                <button class="button button-clear" menu-toggle="left">
                    <span class="icon ion-navicon"></span>
                </button>
                <div class="button button-clear">
                    <button class="button button-clear" ng-click="openPopover($event)">
                        <span class="ion-ios-bell">
                            <span class="badge badge-assertive">3</span>
                        </span>
                    </button>
                    <a class="button button-clear" ng-click="goToSearch()">
                        <span class="icon-search"></span>
                    </a>
                    <button class="button button-clear" ng-click="openPopover($event)">
                        <span class="icon-menu rotate"></span>
                    </button>
                </div>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-positive bar-subheader">
        <div class="row">
            <div class="col noPadding abcd">
                <div class="list">
                    <label class="item item-input">
                        <i class="icon ion-location placeholder-icon"></i>
                        <md-autocomplete md-selected-item="commonService.userData.location" md-search-text="searchText" md-items="item in getPlaceAutoCompleteData(searchText)" md-item-text="item.description" md-selected-item-change="selectedItemChange(item)" md-min-length="2" md-no-cache="true" placeholder="Choose Your Location" md-autofocus="false">
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.description}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="has-header has-subheader has-footer-tab mainBg">
        <div class="mainContent">
            <div class="dineout" ng-repeat="item in homeService.searchFilterGroup">
                <div class="meal">
                    <a href="#" class="pull-right seeMore">See More
                        <i class="ion-ios-arrow-down"></i>
                    </a>
                    <h4>
                        <i class="ion-ios-location"></i> {{item.heading}}</h4>
                </div>
                <div class="row" ng-repeat="filters in item.filters" ng-if="$index % 2 == 0">
                    <div class="col-50" ng-repeat="i in [$index, $index + 1]">
                        <div class="card homeCustomecard">
                            <div class="item item-text-wrap" ng-click="getDetails(item.filters[i].type)">
                                <img ng-src="{{item.filters[i].imgPath}}" alt="">
                                <h4>{{item.filters[i].name}}</h4>
                                <i class="ion-ios-arrow-right pull-right rightIcon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="misc">
                <div class="sectional text-center">
                    <h4>
                        Popular Places Nearby</h4>
                </div>
                <div class="misclneous">
                    <h5 class="text-center">Places to go party & fun</h5>
                    <h6 class="text-center">Theme Park, Nightlife</h6>
                    <div class="row">
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/tantra.jpg" alt="">
                                    <span class="rating good">3.4</span>
                                </div>
                                <h3>Tantra, The Lounge</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/nicopark.jpg" alt="">
                                    <span class="rating avg">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/nicopark.jpg" alt="">
                                    <span class="rating poor">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/aquatica.jpg" alt="">
                                    <span class="rating verygood">3.4</span>
                                </div>
                                <h3>Tantra, The Lounge</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/nicopark.jpg" alt="">
                                    <span class="rating">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/nicopark.jpg" alt="">
                                    <span class="rating">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                    </div>
                    <div class="seeAll">
                        <a href="#">See All
                            <i class="ion-ios-arrow-right pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="misclneous">
                    <h5 class="text-center">Places to go for Shopping</h5>
                    <h6 class="text-center">Shopping Mall, Jewelry, Supermarket</h6>
                    <div class="row">
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/b_img.jpg" alt="">
                                    <span class="rating">3.4</span>
                                </div>
                                <h3>Tantra, The Lounge</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/b_img.jpg" alt="">
                                    <span class="rating poor">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/b_img.jpg" alt="">
                                    <span class="rating avg">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/b_img.jpg" alt="">
                                    <span class="rating good">3.4</span>
                                </div>
                                <h3>Tantra, The Lounge</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/b_img.jpg" alt="">
                                    <span class="rating verygood">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="card miscCard">
                                <div class="popularFun">
                                    <img src="img/images/b_img.jpg" alt="">
                                    <span class="rating">3.4</span>
                                </div>
                                <h3>Nicco park</h3>
                                <h4>Park Street, 71</h4>
                                <h4>Nightlife, Disco</h4>
                            </div>
                        </div>
                    </div>
                    <div class="seeAll">
                        <a href="#">See All
                            <i class="ion-ios-arrow-right pull-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div ng-repeat="item in homeService.searchFilterGroup">
                <h4 class="meal text-center">{{item.heading}}</h4>
                <!-- <div ng-if="item.type != 'slide'"> 
            <div class="row" ng-repeat="filters in item.filters" ng-if="$index % 4 == 0">
                <div class="col-25" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]">
                    <div class="card homeCustomecard">
                        <div class="item item-text-wrap" ng-click="getDetails(item.filters[i].name)">
                            <img ng-src="{{item.filters[i].imgPath}}" alt="">
                            <h4>{{item.filters[i].name}}</h4>
                        </div>
                    </div>
                </div>
            </div>-->
    </ion-content>
</ion-view>
