<ion-nav-bar align-title="center" class="bar-positive">
    <ion-nav-buttons side="left">
        <div class="bar bar-header">
            <button class="button button-clear" menu-toggle="left">
                <span class="icon ion-navicon"></span>
            </button>
            <div class="button button-clear">
                <button class="button button-clear" ng-click="openPopover($event)">
                    <span class="ion-ios-bell">
                        <span class="badge badge-assertive">3</span>
                    </span>
                </button>
                <a class="button button-clear" ng-click="goToSearch()">
                    <span class="icon-magnifying-glass"></span>
                </a>
                <button class="button button-clear" ng-click="openPopover($event)">
                    <span class="icon-menu rotate"></span>
                </button>
            </div>
        </div>
</ion-nav-bar>
