<div id="mapLocation"></div>
<div class="direction" ng-if="showDirection">
    <div class="button-bar bar-light direction-mode">
        <a class="button button-small" href="javascript:void(0)" ng-click="changeDirectionMode('WALKING')">
            <i class="icon ion-android-walk"></i>
        </a>
        <a class="button button-small" href="javascript:void(0)" ng-click="changeDirectionMode('BICYCLING')">
            <i class="icon ion-android-bicycle"></i>
        </a>
        <a class="button button-small" href="javascript:void(0)" ng-click="changeDirectionMode('DRIVING')">
            <i class="icon ion-model-s"></i>
        </a>
        <a class="button button-small" href="javascript:void(0)" ng-click="changeDirectionMode('TRANSIT')" >
            <i class="icon ion-android-train"></i>
        </a>
    </div>
</div>
<button id="fab" class="button button-positive button-fab button-fab-right activated" ng-show="onDetailsPage" ng-click="showDirectionMap()">
    <i class="icon ion-android-locate"></i>
</button>
<div class="card" ng-show="IsVisibleDirection">
    <div id="direction-details"></div>
</div>
