<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" href="#">
                <i class="icon-notification-bell"></i>
                Notifications
            </a>
            <a class="item" href="#">
                <i class="fa fa-user"></i>
                Friends
                <span class="badge badge-assertive">0</span>
            </a>
            <a class="item" href="#">
                <i class="icon-location"></i>
                My Places
            </a>
            
        </div>
    </ion-content>
</ion-popover-view>
