<ion-side-menu side="left">
    <ion-content>
        <ion-list>
            <ion-item menu-close ng-click="login()">
                Login
            </ion-item>
            <!--<ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>-->
            <ul class="mainNav">
                <li menu-close>
                    <a href="#/home">
                        <i class="icon-home menuIcon"></i>Home</a>
                </li>
                <li menu-close>
                    <a href="#/search">
                        <i class="icon-dining-meal menuIcon"></i>Dineout</a>
                </li>
                <li menu-close>
                    <a href="#">
                        <i class="icon-location-pin menuIcon"></i>Essentials</a>
                </li>
                <li menu-close>
                    <a href="#">
                        <i class="icon-ticket menuIcon"></i>Entertainment</a>
                </li>
                <li menu-close>
                    <a href="#">
                        <i class="icon-bus menuIcon"></i>Transport</a>
                </li>
                <li menu-close>
                    <a href="#">
                        <i class="icon-hot-air-ballon menuIcon"></i>Fun</a>
                </li>
                <li menu-close>
                    <a href="#">
                        <i class="icon-meeting-point menuIcon"></i>Meeting Place</a>
                </li>
                <li menu-close>
                    <a href="#">
                        <i class="icon-ribbon menuIcon"></i>My Bookmarks</a>
                </li>
                <li menu-close>
                    <a href="#">
                        <i class="fa fa-gears menuIcon"></i>Settings</a>
                </li>
            </ul>
        </ion-list>
    </ion-content>
</ion-side-menu>
